.container {
  border-top: 4px solid #d9c1a6;
  border-left: 4px solid #d9c1a6;
  border-bottom: 4px solid #d9c1a6;
  border-right: 4px solid #d9c1a6;
  display: flex;
  align-content: center;
  height: 54px;
  width: 100%;
  background-color: #4f4f4f;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quotetext {
  color: #d9c1a6 !important;
  font-size: 8px;
}
