* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #000; */
}

.test {
  width: 100%;
  background: #000;
}

.test > :nth-child(n) {
  height: 60px;
  background: rgba(255, 255, 255, 0.1);
}

.test > :nth-child(2n) {
  background: rgba(255, 255, 255, 0.2);
}
