.container {
  display: flex;
  align-content: center;
  height: 54px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.labeltext {
  position: relative;
  color: #000000;
  font-size: 14px;
}

.labeltext::after {
  content: '';
  position: absolute;
  width: calc(100% + 20px);
  bottom: -8px;
  left: -10px;
  height: 3px;
  background-color: rgb(219, 214, 214);
  border-radius: 2px;
}
